.Detail {
  position: relative;
  background-color: #e8d4a4;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.Detail h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Belanosima', sans-serif;
  font-family: 'Noto Color Emoji', sans-serif;
  color: #4caf50; /* Color verde */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}

.Detail p {
  font-size: 24px;
}


.Detail ol {
  padding-left: 20px;
  font-size: 16px;
}

.Detail li {
  margin-bottom: 10px;
}

.Detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

.Detail hr {
  width: 80%; /* Ancho del separador */
  margin: 20px 0; /* Margen superior e inferior */
  border: none;
  border-top: 1px solid #ccc; /* Estilo de línea y color */
}